In [26]:
import pandas as pd
import numpy as np

In [ ]:
import createTree

In [10]:
prettycrew = createTree.Family('ft_people.csv', 'ft_unions.csv')

In [11]:
print(prettycrew.people)

                           name date_of_birth sex       code
0        Ruben Arthur Prettyman    2012-12-19   m      Ruben
1       Atticus Pablo Prettyman    2015-09-19   m    Atticus
2         Joshua John Prettyman    1990-10-03   m     Joshua
3          Amber Isis Prettyman    1990-11-23   f      Amber
4         Graham John Prettyman    1962-07-04   m     Graham
5      Elizabeth Anne Prettyman    1969-08-24   f  Elizabeth
6       Samuel Thomas Prettyman    1994-11-01   m     Samuel
7   Alfie Bartholemew Prettyman    1997-10-25   m      Alfie
8         Amelia Rose Prettyman    1993-07-08   f     Amelia
9                   Adrian Bryn    1988-07-10   m     Adrian
10           Talulah Celia Bryn    2018-11-11   f    Talulah
11                  Taylor Bryn           NaT   m    TaylorB

In [12]:
print(prettycrew.unions)

     person1 person2 date_of_union                         children  \
0     Joshua   Amber    2010-07-22                 [Ruben, Atticus]
1  Elizabeth  Graham    1992-01-01  [Joshua, Amelia, Samuel, Alfie]
2     Amelia  Adrian           NaT                        [Talulah]
3     Adrian     NaN           NaT                        [TaylorB]

   separation             code
0           0   JoshuaAndAmber
1           0              G&E
2           0  AmeliaAndAdrian
3           0       JustAdrian

In [14]:
print(prettycrew.children_dict)

{0: [0, 1], 1: [2, 8, 6, 7], 2: [10], 3: [11]}

In [15]:
for i in prettycrew.children_dict:
    print(i)

0
1
2
3

In [23]:
def find_family(person_index, children_dict, inclusive=True):
    for i in children_dict.keys():
        if person_index in children_dict[i]:
            parental_union = i
            if inclusive:
                siblings = children_dict[i]
            else:
                siblings = [child for child in children_dict[i] if child != person_index]
            break
    return parental_union, siblings

print(find_family(0, children_dict))

(0, [0, 1])

In [7]:
unions_dict = {}
# For each union i
for i in ft_unions.index:
    # Find the indices of the children of that union
    p1 = ft_unions.person1[i]
    p2 = ft_unions.person2[i]
    if len(p2) > 0:
        p = [p1, p2]
    else:
        p = [p1] 
    p_indices = find_index(p)
    unions_dict[i] = p_indices
print(unions_dict)

{0: [2, 3], 1: [5, 4], 2: [8, 9]}

In [ ]:
spouse_dict = {}
# for each person i
for i in ft_people.index:
    # Find any unions containing that person

In [10]:
positions_dict = {}
initial_index = 0
initial_position = [0, 0]

In [49]:
df = pd.DataFrame([['Joshua', 30, 'Ruben, Atticus'], 
                   ['Amelia', 28, 'Talulah'],
                   ['Samuel', 26, '']], columns=['name', 'age', 'kids'])
df['kids'] = df['kids'].apply(lambda s: s.split(', '))
print(df)
print([i for i in df.index])

     name  age              kids
0  Joshua   30  [Ruben, Atticus]
1  Amelia   28         [Talulah]
2  Samuel   26                []
[0, 1, 2]

In [41]:
l = [10, 9, 9, 8]

n = []
for i in l: 
    if i not in n: 
        n.append(i)
print(l)
print(n)

m = [l[i] for i in range(len(l)) if l[i] not in l[:i]]
print(m)

m.reverse()
print(m)

[10, 9, 9, 8]
[10, 9, 8]
[10, 9, 8]
[8, 9, 10]

In [38]:
d = {1: 7, 2: 12, 3: 8}
for k in d.keys():
    if d[k] < 10:
        d[k] -= 1
print(d)

{1: 6, 2: 12, 3: 7}

In [43]:
f = lambda s: s if s == 1 else 0
print(f([8, 9, 10, 'hello']))
print(f(''))
print(f(0))
print(f(1))
print(f(np.nan))

0
0
0
1
0